.catalog {
	@include adaptiveValue("padding-bottom", 120, 40);
	// .catalog__container
	&__container {
		@media (max-width: $mobile) {
			padding: 0;
		}
	}
	// .catalog__body
	&__body {
		display: grid;
		align-items: start;
		gap: rem(30);
		@media (min-width: $tablet) {
			grid-template-columns: rem(375) 1fr;
		}
	}
	// .catalog__filter
	&__filter {
	}
	// .catalog__content
	&__content {
	}
	// .catalog__control
	&__control {
		position: relative;
		z-index: 14;
		display: flex;
		justify-content: flex-end;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	// .catalog__products
	&__products {
		display: grid;
		gap: rem(30);
		grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 30);
		}
	}
	// .catalog__footer
	&__footer {
		display: flex;
		justify-content: space-between;
		gap: rem(20);
		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}
	// .catalog__more
	&__more {
	}
	// .catalog__pagging
	&__pagging {
	}
}
//========================================================================================================================================================
.filter-catalog {
	background: #fefefe;
	box-shadow: 0 rem(4) rem(20) rgba(0, 0, 0, 0.1);
	// .filter-catalog__title
	&__title {
		width: 100%;
		background-color: $mainDarkColor;
		font-weight: 700;
		font-size: rem(20);
		line-height: math.div(24, 20);
		padding: rem(20) rem(45);
		color: #ffffff;
		text-align: left;
	}
	// .filter-catalog__items
	&__items {
		@media (max-width: $tablet) {
			display: none;
			&._active {
				display: block;
			}
		}
	}
	// .filter-catalog__price
	&__price {
	}
}
.price-filter {
	@include adaptiveValue("padding-right", 45, 15);
	@include adaptiveValue("padding-left", 45, 15);
	@include adaptiveValue("padding-bottom", 30, 15);
	@include adaptiveValue("padding-top", 30, 15);
	overflow: hidden;
	// .price-filter__title
	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row-reverse;
		width: 100%;
		font-weight: 600;
		font-size: rem(20);
		line-height: math.div(24, 20);
		color: $mainDarkColor;
		&::before {
			color: $mainOrange;
			font-size: rem(8);
			transform: rotate(-180deg);
			transition: transform 0.3s ease 0s;
		}
		&._spoller-active {
			&::before {
				transform: rotate(0deg);
			}
		}
	}
	// .price-filter__body
	&__body {
		padding: rem(30) rem(0) 0 rem(0);
		&-padding {
			@include adaptiveValue("padding-right", 45, 15);
			@include adaptiveValue("padding-left", 45, 15);
			@include adaptiveValue("padding-bottom", 30, 15);
			@include adaptiveValue("padding-top", 30, 15);
		}
		@media (max-width: $mobile) {
			padding-right: rem(25);
			padding-left: rem(25);
		}
	}
	// .price-filter__inputs
	&__inputs {
		display: flex;
		border: rem(1) solid #cbcbcb;
		border-radius: rem(3);
		overflow: hidden;
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}
	// .price-filter__input
	&__input {
		width: 50%;
		height: rem(42);
		text-align: center;
		font-weight: 500;
		font-size: rem(16);
		line-height: math.div(20, 16);
		padding: 0 rem(15);
		&:not(:last-child) {
			border-right: rem(1) solid #cbcbcb;
		}
	}
	// .price-filter__range
	&__range {
		margin-bottom: rem(25);
	}
}
.item-filter-catalog {
	&:not(:last-child) {
		margin-bottom: rem(8);
	}
	// .item-filter-catalog__title
	&__title {
		background-color: $mainDarkColor;
		width: 100%;
		color: #ffffff;
		padding-top: rem(13);
		padding-bottom: rem(13);
		@include adaptiveValue("padding-right", 45, 15);
		@include adaptiveValue("padding-left", 45, 15);
		font-weight: 600;
		font-size: rem(20);
		line-height: math.div(24, 20);
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row-reverse;
		&::before {
			color: $mainOrange;
			font-size: rem(8);
			transform: rotate(-180deg);
			transition: transform 0.3s ease 0s;
		}
		&._spoller-active {
			&::before {
				transform: rotate(0deg);
			}
		}
	}
	// .item-filter-catalog__body
	&__body {
		padding-top: rem(30);
		@include adaptiveValue("padding-right", 45, 15);
		@include adaptiveValue("padding-left", 45, 15);
		@include adaptiveValue("padding-bottom", 30, 15);
	}
	// .item-filter-catalog__checkbox
	&__checkbox {
		&:not(:last-child) {
			margin-bottom: rem(22);
		}
	}
}
